<html>
	<head>
                <title> Hello World </title>
                {% load static %}
                <link rel="stylesheet" type='text/css' href="{% static 'topology/style.css' %}">
        </head>
        <body>
                <div>
                        <ul>
                                {% load static %}
                                <li><img src="{% static 'homepage/images/Juniper-Software.png' %}" width="auto" height="30"><span style="display:inline-block;padding-left:0"></li>                          
                                <li><img src="{% static 'homepage/images/juniper_rev_blue_rgb.png' %}" height="30" width="auto"><span style="display:inline-block"><li>
                        </ul>
                </div>
	{% block content %}
	{% endblock %}
	</body>
</html>
